body {
	padding: 0 2rem;
	margin-right: auto;
	margin-left: auto;
	background-color: aliceblue;
	zoom: 100%;
}

h1 {
	color: black;
	display: inline-block;
}

.header-title {
	font-size: 2.5rem;
}
hr {
	width: 100%;
	margin: 0, auto;
	border: 0;
	height: 1px;
	box-shadow: 0px 0px 2px 2px #000;
}

#canvas {
	display: block;
	border-radius: 5px;
	background: #ffffff;
	border: solid 2px #000;
	box-shadow: 0px 0px 5px 0px #000;
	touch-action: none;
}

.display {
	background-color: white;
	min-height: 2rem;
	min-height: 2rem;
	margin-bottom: 10px;
	display: block;
}

/*Buttons*/
.btn-primary {
	background-color: #000;
	border-radius: 10px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
	margin: 15px;
}

.btn-primary:hover {
	background-color: #333;
}

.btn-primary:active {
	position: relative;
}

.btn-danger {
	background-color: #dc2626;
	border-radius: 5px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
	margin: 15px;
}

.btn-danger:hover {
	background-color: #7f1d1d;
}

.btn-danger:active {
	position: relative;
}

.btn-success {
	background-color: #16a34a;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	text-decoration: none;
	margin: 30px;
}

.btn-success:hover {
	background-color: #14532d;
}

.btn-success:active {
	position: relative;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.canvas-div {
	margin: 10px;
	padding: 10px;
	min-width: 400px;
	max-width: 33%;
}
.prediction-div {
	margin: 10px;
	padding: 10px;
	width: 33%;
}
.calc-div {
	margin: 10px;
	padding: 10px;
	width: 33%;
}

#prediction,
#stack,
#answer {
	font-size: 1.5rem;
}

.green {
	color: #16a34a;
}

.yellow {
	color: orange;
}

.red {
	color: #dc2626;
}

.help {
	font-size: large;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
