<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Handwritten Digit Recogizer</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/main.css') }}"
		/>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/main.js') }}"
		></script>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"
		></script>
	</head>
	<body>
		<h1>Handwritten Digit Recogizer</h1>
		<hr />
		<div class="content">
			<div class="content-left">
				<h2>Draw on canvas</h2>
				<canvas id="canvas"></canvas>
			</div>

			<div class="content-right">
				<h2>28 x 28 Input</h2>
				<canvas id="picture"></canvas>
				<a href="#" id="reset">Clear</a>
			</div>
			<div class="content-right">
				<h2>Probability Disribution</h2>
				<table class="result">
					<tr>
						<th class="th-1">&nbsp;</th>
						<th class="th-2">ANN</th>
						<th class="th-3">CNN</th>
					</tr>
					<tr>
						<th>0</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>1</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>2</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>3</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>4</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>5</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>6</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>7</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>8</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>9</th>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
